body{
    background-image: url(/img/car-motorcycle/fondo.png);    
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;    
}

p{
    color: blue;
}
span{
    color: green;
}

